TELEGRAM_BOT_TOKEN=replace_with_your_telegram_bot_token
TELEGRAM_CHAT_ID=replace_with_your_chat_id
MQ135_ALERT_THRESHOLD=1000
DUST_ALERT_THRESHOLD=150
TEMP_ALERT_THRESHOLD=40
HUMIDITY_ALERT_THRESHOLD=85
